/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* BOOKMARK */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {box-sizing:border-box;}
html {font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-font-smoothing: antialiased;}

body {
  font-family: 'Roboto Mono', Courier New, Courier, monospace;
  line-height: 20px;
  color: #fafafa;
  background-color:#161318;
  text-transform:uppercase;font-weight:500;letter-spacing: 0.08em;font-size:12px;
}

a{text-decoration: none;color: #fafafa;}
a:hover {color: #c91248;}
a:hover {-webkit-transition: color 400ms ease-out;-moz-transition: color 400ms ease-out;}

::-moz-selection {background: rgba(255, 255, 255, 1.0); color: #161318; text-shadow: none;}
::selection {background: rgba(255, 255, 255, 1.0);color: #161318;text-shadow: none;}

/* Site */

.command{max-width:600px;text-align:center;margin:0 auto;padding:60px 0 120px;}

button{cursor:pointer;color:#fafafa;background-color:#161318;border:solid 1px #fff;height:40px;padding:0 30px;width:160px;line-height: 40px;font-family: 'Roboto Mono', Courier New, Courier, monospace;text-transform:uppercase;font-weight:500;letter-spacing: 0.08em;font-size:12px;}
button:hover{background-color:#fafafa;color:#161318;}
button:focus{outline:none;}

.container {padding:20px;max-width:1380px;margin:0 auto;}
.item{position:relative;display:block;float:left;width:20%;} 
.content{padding:10px;margin:10px;border:solid 1px #efefef;}

.fa-times{float:right;cursor:pointer;z-index:2;color:#fff;}
.name{margin:20px 20px 0 0;text-transform:uppercase;font-weight:500;letter-spacing: 0.1em;}
.name img{height:14px;width:14px;margin:0 10px 0 0;vertical-align:sub;}

/* Modal */
.modal-container{background: rgba(0, 0, 0, 0.8);display:none;position:fixed;top:0;left:0;right:0;bottom:0;}
.show-modal{display:flex;justify-content:center;align-items:center;}
.modal{background: #161318;color:#fafafa;border:solid 1px #fafafa;max-width:80%;width:500px;animation:modalopen 1s;}

@keyframes modalopen { from {opacity:0} to {opacity:1;} }
.close-icon{float:right;position:relative;top:40px;right:40px;cursor:pointer;}
.modal-header{padding:40px;}
h3{margin:0;}
.modal-content{padding:40px;}

/* Form */
.form-group{}
.form-input{width:97%;padding:10px;border:1px solid #ccc;display:block;outline:none;margin:0 0 20px;}
.form-label{color:#fafafa;display:block;line-height:30px;height:30px;}
.save{margin:20px 0 0;}

@media screen and (max-width: 600px){ 
.item{position:relative;display:block;float:left;width:100%;} 
}
@media screen and (min-width: 601px) and (max-width: 800px){ 
.item{position:relative;display:block;float:left;width:50%;} 
}
@media screen and (min-width: 801px) and (max-width: 1100px){ 
.item{position:relative;display:block;float:left;width:33.33%;} 
}
@media screen and (min-width: 1101px) and (max-width: 1240px){ 
.item{position:relative;display:block;float:left;width:25%;} 
}
